# Dataset Loading and Read the Dataset

In [ ]:
import pandas as pd

# Specify the file path
file_path = "/content/table_data.csv"

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# Print the DataFrame to display the data in a table format
df

          ID          CSE1          CSE2          CSE3           CSE4 SECTION
0          1  cxscc51$*%^&    dsfe36dsfy  sada79xfsadf     H%d%29vgfs       B
1          2   cxscc27xdff  dsfe29asdgfw    edf84dsffw   bffdd73adsfy       C
2          3  ddsfs52dsffw    edf32**&%&     edf31vgfs   ddfs49asdgfw       B
3          4   ddfs36dsffw    H%d%57vgfs  #%%$54xfsadf   H%d%28asdgfw       B
4          5   dsfe30**^&$    ddfs67dsfy    edf35$*%^&   **$@%29**^&$       D
...      ...           ...           ...           ...            ...     ...
19995  19996   edf47xfsadf  cxscc73dsffw   **$@%48xdff   cxscc30$*%^&       C
19996  19997  ddsfs73dsffw  bffdd54**^&$   sada60dsffw     sada32dsfy       D
19997  19998  **$@%74dsffw   H%d%41dsffw    H%d%87xdff  cxscc74xfsadf       A
19998  19999    ddfs76vgfs   bffdd61xdff    #%%$42vgfs    **$@%58xdff       A
19999  20000    ddfs67vgfs  sada93asdgfw   sada42**&%&    cxscc68dsfy       B

[20000 rows x 6 columns]

# Data Cleaning

In [ ]:
import pandas as pd
import re

# Define a function to clean and convert a column to numerical
def clean_and_convert_to_numeric(column):
    # Use regular expressions to extract numerical values
    cleaned_values = column.str.extract(r'(\d+\.*\d*)', expand=False)

    # Convert the extracted values to numeric (float)
    return pd.to_numeric(cleaned_values, errors='coerce')

# Apply the cleaning and conversion function to the specified columns
df['CSE1'] = clean_and_convert_to_numeric(df['CSE1'])
df['CSE2'] = clean_and_convert_to_numeric(df['CSE2'])
df['CSE3'] = clean_and_convert_to_numeric(df['CSE3'])
df['CSE4'] = clean_and_convert_to_numeric(df['CSE4'])

# Print the updated DataFrame
print(df)

          ID  CSE1  CSE2  CSE3  CSE4 SECTION
0          1    51    36    79    29       B
1          2    27    29    84    73       C
2          3    52    32    31    49       B
3          4    36    57    54    28       B
4          5    30    67    35    29       D
...      ...   ...   ...   ...   ...     ...
19995  19996    47    73    48    30       C
19996  19997    73    54    60    32       D
19997  19998    74    41    87    74       A
19998  19999    76    61    42    58       A
19999  20000    67    93    42    68       B

[20000 rows x 6 columns]

**Check the column type**

In [ ]:

# Get a list of column names
column_names = df.columns

# Check the data type of each column
for column_name in column_names:
    column_data_type = type(df[column_name].iloc[0])
    print(f"The data type of column '{column_name}' is: {column_data_type}")

The data type of column 'ID' is: <class 'numpy.int64'>
The data type of column 'CSE1' is: <class 'numpy.int64'>
The data type of column 'CSE2' is: <class 'numpy.int64'>
The data type of column 'CSE3' is: <class 'numpy.int64'>
The data type of column 'CSE4' is: <class 'numpy.int64'>
The data type of column 'SECTION' is: <class 'str'>

# Average Calculation

In [ ]:

# Calculate the average mark for each student across CSE1 to CSE4
df['AVG_MARK'] = df[['CSE1', 'CSE2', 'CSE3', 'CSE4']].mean(axis=1)

# Print the DataFrame with the new AVG_MARK column
print(df)

          ID  CSE1  CSE2  CSE3  CSE4 SECTION  AVG_MARK
0          1    51    36    79    29       B     48.75
1          2    27    29    84    73       C     53.25
2          3    52    32    31    49       B     41.00
3          4    36    57    54    28       B     43.75
4          5    30    67    35    29       D     40.25
...      ...   ...   ...   ...   ...     ...       ...
19995  19996    47    73    48    30       C     49.50
19996  19997    73    54    60    32       D     54.75
19997  19998    74    41    87    74       A     69.00
19998  19999    76    61    42    58       A     59.25
19999  20000    67    93    42    68       B     67.50

[20000 rows x 7 columns]

# Grade Assignment

In [ ]:

# Define a function to assign grades based on average marks
def assign_grade(avg_mark):
    if 0 <= avg_mark <= 29:
        return 'F'
    elif 30 <= avg_mark <= 49:
        return 'D'
    elif 50 <= avg_mark <= 69:
        return 'C'
    elif 70 <= avg_mark <= 79:
        return 'B'
    elif 80 <= avg_mark <= 89:
        return 'A-'
    elif 90 <= avg_mark <= 100:
        return 'A'
    else:
        return 'Invalid'

# Apply the function to create the 'Grade' column
df['Grade'] = df['AVG_MARK'].apply(assign_grade)

# Print the DataFrame with the new 'Grade' column
print(df)

          ID  CSE1  CSE2  CSE3  CSE4 SECTION  AVG_MARK    Grade
0          1    51    36    79    29       B     48.75        D
1          2    27    29    84    73       C     53.25        C
2          3    52    32    31    49       B     41.00        D
3          4    36    57    54    28       B     43.75        D
4          5    30    67    35    29       D     40.25        D
...      ...   ...   ...   ...   ...     ...       ...      ...
19995  19996    47    73    48    30       C     49.50  Invalid
19996  19997    73    54    60    32       D     54.75        C
19997  19998    74    41    87    74       A     69.00        C
19998  19999    76    61    42    58       A     59.25        C
19999  20000    67    93    42    68       B     67.50        C

[20000 rows x 8 columns]

# Highest and Lowest Marked Subjects

In [ ]:

# Define a function to find the subject with the highest mark
def find_highest_mark_subject(row):
    subjects = ['CSE1', 'CSE2', 'CSE3', 'CSE4']
    max_subject = max(subjects, key=lambda subject: row[subject])
    return max_subject

# Define a function to find the subject with the lowest mark
def find_lowest_mark_subject(row):
    subjects = ['CSE1', 'CSE2', 'CSE3', 'CSE4']
    min_subject = min(subjects, key=lambda subject: row[subject])
    return min_subject

# Apply the functions to create new columns
df['Highest_Mark_Subject'] = df.apply(find_highest_mark_subject, axis=1)
df['Lowest_Mark_Subject'] = df.apply(find_lowest_mark_subject, axis=1)

# Print the DataFrame with the new columns
print(df)

          ID  CSE1  CSE2  CSE3  CSE4 SECTION  AVG_MARK    Grade  \
0          1    51    36    79    29       B     48.75        D
1          2    27    29    84    73       C     53.25        C
2          3    52    32    31    49       B     41.00        D
3          4    36    57    54    28       B     43.75        D
4          5    30    67    35    29       D     40.25        D
...      ...   ...   ...   ...   ...     ...       ...      ...
19995  19996    47    73    48    30       C     49.50  Invalid
19996  19997    73    54    60    32       D     54.75        C
19997  19998    74    41    87    74       A     69.00        C
19998  19999    76    61    42    58       A     59.25        C
19999  20000    67    93    42    68       B     67.50        C

      Highest_Mark_Subject Lowest_Mark_Subject
0                     CSE3                CSE4
1                     CSE3                CSE1
2                     CSE1                CSE3
3                     CSE2                CSE4
4                     CSE2                CSE4
...                    ...                 ...
19995                 CSE2                CSE4
19996                 CSE1                CSE4
19997                 CSE3                CSE2
19998                 CSE1                CSE3
19999                 CSE2                CSE3

[20000 rows x 10 columns]

**Print the subject and mark as well**

In [ ]:

# Create new columns for highest and lowest marks in subjects
df['Highest_Mark_Subject'] = df[['CSE1', 'CSE2', 'CSE3', 'CSE4']].idxmax(axis=1)
df['Lowest_Mark_Subject'] = df[['CSE1', 'CSE2', 'CSE3', 'CSE4']].idxmin(axis=1)

# Create new columns for highest and lowest marks
df['Highest_Mark'] = df[['CSE1', 'CSE2', 'CSE3', 'CSE4']].max(axis=1)
df['Lowest_Mark'] = df[['CSE1', 'CSE2', 'CSE3', 'CSE4']].min(axis=1)

# Print the DataFrame with the new columns
print(df)

          ID  CSE1  CSE2  CSE3  CSE4 SECTION  AVG_MARK    Grade  \
0          1    51    36    79    29       B     48.75        D
1          2    27    29    84    73       C     53.25        C
2          3    52    32    31    49       B     41.00        D
3          4    36    57    54    28       B     43.75        D
4          5    30    67    35    29       D     40.25        D
...      ...   ...   ...   ...   ...     ...       ...      ...
19995  19996    47    73    48    30       C     49.50  Invalid
19996  19997    73    54    60    32       D     54.75        C
19997  19998    74    41    87    74       A     69.00        C
19998  19999    76    61    42    58       A     59.25        C
19999  20000    67    93    42    68       B     67.50        C

      Highest_Mark_Subject Lowest_Mark_Subject  Highest_Mark  Lowest_Mark
0                     CSE3                CSE4            79           29
1                     CSE3                CSE1            84           27
2                     CSE1                CSE3            52           31
3                     CSE2                CSE4            57           28
4                     CSE2                CSE4            67           29
...                    ...                 ...           ...          ...
19995                 CSE2                CSE4            73           30
19996                 CSE1                CSE4            73           32
19997                 CSE3                CSE2            87           41
19998                 CSE1                CSE3            76           42
19999                 CSE2                CSE3            93           42

[20000 rows x 12 columns]

# Section Wise Highest Average Mark

In [ ]:

# Calculate the maximum AVG_MARK for each section
max_avg_mark_by_section = df.groupby('SECTION')['AVG_MARK'].transform('max')

# Create the 'MAX_AVG_MARK_SECTION' column
df['MAX_AVG_MARK_SECTION'] = max_avg_mark_by_section

# Save the updated DataFrame to a new CSV file
output_file_path = "/content/updated_table_data.csv"
df.to_csv(output_file_path, index=False)

# Print the DataFrame with the new column
print(df)

# Print the path to the saved CSV file
print(f"Updated CSV file saved to: {output_file_path}")

          ID  CSE1  CSE2  CSE3  CSE4 SECTION  AVG_MARK    Grade  \
0          1    51    36    79    29       B     48.75        D
1          2    27    29    84    73       C     53.25        C
2          3    52    32    31    49       B     41.00        D
3          4    36    57    54    28       B     43.75        D
4          5    30    67    35    29       D     40.25        D
...      ...   ...   ...   ...   ...     ...       ...      ...
19995  19996    47    73    48    30       C     49.50  Invalid
19996  19997    73    54    60    32       D     54.75        C
19997  19998    74    41    87    74       A     69.00        C
19998  19999    76    61    42    58       A     59.25        C
19999  20000    67    93    42    68       B     67.50        C

      Highest_Mark_Subject Lowest_Mark_Subject  Highest_Mark  Lowest_Mark  \
0                     CSE3                CSE4            79           29
1                     CSE3                CSE1            84           27
2                     CSE1                CSE3            52           31
3                     CSE2                CSE4            57           28
4                     CSE2                CSE4            67           29
...                    ...                 ...           ...          ...
19995                 CSE2                CSE4            73           30
19996                 CSE1                CSE4            73           32
19997                 CSE3                CSE2            87           41
19998                 CSE1                CSE3            76           42
19999                 CSE2                CSE3            93           42

       MAX_AVG_MARK_SECTION
0                     89.75
1                     91.25
2                     89.75
3                     89.75
4                     89.75
...                     ...
19995                 91.25
19996                 89.75
19997                 91.75
19998                 91.75
19999                 89.75

[20000 rows x 13 columns]
Updated CSV file saved to: /content/updated_table_data.csv